/**/

body, html {
	margin: 0 auto;
	width: 100%;
}

body {
	height: 100%;
}

.cnthor {
    line-height: 3;
    display: inline-block;
    vertical-align: middle;
	margin: auto;
	font-size: 1.8em;
}

.navbar-nav {
	display: inline-block;
}

.navbar-nav>li>a {
	padding-top: 0px;
	padding-bottom: 0px;
}

.nomargin {
	margin: 0px;
}

.mrgbot15 {
	padding-left: 10px;
	margin-bottom: 20px;
}

.nomarginbt {
	margin-bottom: 0px;
}

.fixbg {
	height: 10px;
}