<!DOCTYPE html>
<html ng-app="starter">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="lib/lodash/dist/lodash.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
</head>

<body>
    <ion-nav-view class="slide-left-right"></ion-nav-view>
    <script id="index.html" type="text/ng-template">
        <ion-view title="Contatos" hide-back-button="true" class="padding">
            <ion-header-bar class="bar-stable">
                <h1 class="title text-center">Contatos</h1>
                <a class="button button-icon icon ion-plus-round" ui-sref="new"></a>
            </ion-header-bar>
            <ion-content>
                <ion-list ng-repeat="contact in contacts">
                    <a class="item item-avatar item-icon-right">
                          <img src="{{contact.photos[0].value}}" ng-if="contact.photos.length > 0" ng-click="editContact(contact)">
                          <img src="img/user-avatar.png" ng-if="!contact.photos" ng-click="editContact(contact)">
                          <h2 ng-click="editContact(contact)">{{contact.displayName}}</h2>
                          <p ng-click="editContact(contact)">{{contact.phoneNumbers[0].value}}</p>
                          <i class="icon ion-trash-a" ng-click="askDelete(contact)"></i>
                      </a>
                </ion-list>
            </ion-content>
        </ion-view>
    </script>
    
</body>

</html>