<!DOCTYPE html>
<html ng-app="starter">
  <head>
        <meta charset="utf-8">
      <script src="js/app.js"></script>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title></title>
        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="js/ng-cordova.min.js"></script>
        <script src="cordova.js"></script>
        <script src="js/app.js"></script>

		<link rel="stylesheet" href="styles/styles.css">
		<link href="css/bootstrap.min.css" rel="stylesheet"> 
</head>

<body>
    <ion-nav-view class="slide-left-right"></ion-nav-view>

    <script id="index.html" type="text/ng-template">
      <!-- The title of the ion-view will be shown on the navbar -->
      <ion-view title="Lista Contatos" hide-back-button="true">
        <ion-content class="padding">
            <ion-pane ng-controller="ContatosCtrl">
                <ion-header-bar class="bar-stable">
                    <button class="button" ng-click="getContactList()">Load</button>
                    <h1 class="title">Contatos</h1>
                    <a class="button" ui-sref="new">New</a>
                </ion-header-bar>
                <ion-content>
                    <ion-list>
                        <ion-item ng-repeat="contact in contacts">
                            <a ui-sref="edit">{{contact.displayName}} - {{contact.phoneNumbers[0].value}}</a>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-pane>
        </ion-content>
      </ion-view>
    </script>    

    <script id="new.html" type="text/ng-template">
      <!-- The title of the ion-view will be shown on the navbar -->
      <ion-view title="Novo Contato">
        <form ng-submit="createContact(contact)">
            <div class="list" style="margin:0 auto; padding-left: 25px; padding-right: 25px; ">
                Nome: <input type="text" name="fname" ng-model="contact.nome" placeholder="Nome" required><br>
                E-mail: <input type="email" name="email" ng-model="contact.email" placeholder="Email" required><br>
                Telefone <input type="number" name="telefone" ng-model="contact.telefone" placeholder="Telefone" required><br>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Criar Contato</button>
            </div>
        </form>
      </ion-view>
    </script> 

    <script id="edit.html" type="text/ng-template">
      <!-- The title of the ion-view will be shown on the navbar -->
      <ion-view title="Editar Contato">
        <form ng-submit="createContact(contact)">
            <div class="list" style="margin-top:50px">
                Nome: <input type="text" name="fname" ng-model="contact.nome" placeholder="Nome"><br>
                E-mail: <input type="text" name="email" ng-model="contact.email" placeholder="Email"><br>
                Telefone <input type="number" name="telefone" ng-model="contact.telefone" placeholder="Telefone"><br>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Criar Contato</button>
            </div>
        </form>
      </ion-view>
    </script>     
    
</body>
</html>
